In [90]:
import pandas as pd
import numpy as np

df_2006_2016 = pd.read_excel("BU Spark CannesLions_2006-2020.xlsx", sheet_name='2006-2016')
df_2017 = pd.read_excel("BU Spark CannesLions_2006-2020.xlsx", sheet_name='2017')

In [91]:
def fix_age(row):
    # 'Child'
    if row['age'] == 1:
        return 1
    # 'Teen'
    elif row['age'] == 3 or row['age'] == 2:
        return 2
    # '20s'
    elif row['age'] == 4:
        return 3
    # '30s'
    elif row['age'] == 5:
        return 4
    # '40s'
    elif row['age'] == 6:
        return 5
    # '50s'
    elif row['age'] == 7:
        return 6
    # '60s'
    elif row['age'] == 8:
        return 7
    # 'Can't tell'
    elif row['age'] == 9:
        return 8
    # 'Not Applicable'
    elif row['age'] == 10:
        return 9

## Prepare 2006-2016 Excel sheet

In [92]:
######################################################################################
################################# Asset Metadata #####################################
######################################################################################

# Coder Name
df_2006_2016['Code Name'] = ""

# Year
df_2006_2016 = df_2006_2016.rename(columns={"year": "Year"})

# Category
df_2006_2016 = df_2006_2016.rename(columns={"category": "Category"})

# Catalogue Number
df_2006_2016 = df_2006_2016.rename(columns={"catalogue": "Catalogue Number"})

# Title
df_2006_2016 = df_2006_2016.rename(columns={"title": "Title"})

# Advertiser
df_2006_2016 = df_2006_2016.rename(columns={"advertiser": "Advertiser"})

# Product
df_2006_2016 = df_2006_2016.rename(columns={"product": "Product"})

# Company
df_2006_2016 = df_2006_2016.rename(columns={"company": "Company"})

# Country
df_2006_2016 = df_2006_2016.rename(columns={"country": "Country"})

# Prize Description
df_2006_2016 = df_2006_2016.rename(columns={"prize_description": "Prize Description"})

# Prize code
df_2006_2016 = df_2006_2016.rename(columns={"prize_code": "Prize code"})

# Video Name
df_2006_2016 = df_2006_2016.rename(columns={"video_name": "Video Name"})

# Link to Asset
df_2006_2016['Link to Asset'] = ""

######################################################################################
################################### Prominence #######################################
######################################################################################

# Character ID
df_2006_2016 = df_2006_2016.rename(columns={"char_id": "Character ID"})

######################################################################################
############################ Background Characteristics ##############################
######################################################################################

# Age
# df_2006_2016['Age'] = df_2006_2016.apply (lambda row: fix_age(row), axis=1)
df_2006_2016 = df_2006_2016.rename(columns={"age": "Age"})
df_2006_2016["Age"].fillna(10, inplace=True)

# Character Gender
df_2006_2016 = df_2006_2016.rename(columns={"gender": "Character Gender"})
df_2006_2016["Character Gender"].fillna(10, inplace=True)

# Race
df_2006_2016 = df_2006_2016.rename(columns={"raceethnicity": "Race"})
df_2006_2016["Race"].fillna(10, inplace=True)

######################################################################################
##################### Activity, Technology, Use & Setting ############################
######################################################################################

# Activity
df_2006_2016 = df_2006_2016.rename(columns={"activity": "Activity"})

# Tech
df_2006_2016 = df_2006_2016.rename(columns={"tech": "Tech"})

# Setting
df_2006_2016 = df_2006_2016.rename(columns={"setting": "Setting"})

# Vehicle
df_2006_2016 = df_2006_2016.rename(columns={"vehicle": "Vehicle"})

# Location
df_2006_2016 = df_2006_2016.rename(columns={"location": "Location"})

######################################################################################
################################### Sexualization ####################################
######################################################################################

# Sexually Revealing Clothing
df_2006_2016 = df_2006_2016.rename(columns={"sexuallyrevealingclothing": "Sexually Revealing Clothing"})
df_2006_2016["Sexually Revealing Clothing"].fillna(10, inplace=True)

# State of Nudity
df_2006_2016 = df_2006_2016.rename(columns={"nudity": "State of Nudity"})
df_2006_2016["State of Nudity"].fillna(10, inplace=True)

# Shown as Body Part
df_2006_2016 = df_2006_2016.rename(columns={"shownasbodyparts": "Shown as Body Part"})
df_2006_2016["Shown as Body Part"].fillna(10, inplace=True)


# Verbally Sexual Objectification
df_2006_2016 = df_2006_2016.rename(columns={"verballysexuallyobjectified": "Verbally Sexual Objectification"})
df_2006_2016["Verbally Sexual Objectification"].fillna(10, inplace=True)


######################################################################################
######################################## Traits ######################################
######################################################################################

# TODO: Ask what '4' option is about?
# Intelligence
df_2006_2016 = df_2006_2016.rename(columns={"shownasintelligent": "Intelligence"})
df_2006_2016["Intelligence"].fillna(10, inplace=True)

# TODO: Ask what options "12", "23", "1.2" are about?
# Funny
df_2006_2016 = df_2006_2016.rename(columns={"shownasfunny": "Funny"})
df_2006_2016["Funny"].fillna(10, inplace=True)

######################################################################################
################################ Work and Leadership #################################
######################################################################################

# Occupation Shown
df_2006_2016 = df_2006_2016.rename(columns={"occupationshown": "Occupation Shown"})
df_2006_2016["Occupation Shown"].fillna(10, inplace=True)

# Occupation
df_2006_2016 = df_2006_2016.rename(columns={"occupation": "Occupation"})

# Leader
df_2006_2016 = df_2006_2016.rename(columns={"leader": "Leader"})
df_2006_2016["Leader"].fillna(10, inplace=True)

#All Other Variables included to other sheets
df_2006_2016['view_video'] = ""
df_2006_2016['vatic_link'] = ""
df_2006_2016['char_montage'] = ""

## Prepare 2017 Excel sheet

In [93]:
######################################################################################
################################# Asset Metadata #####################################
######################################################################################

# Coder Name
df_2017['Code Name'] = ""

# Year
df_2017['Year'] = 2017
df_2017['Year'] = df_2017['Year'].astype(np.float64)

# Category
df_2017['Category'] = ""

# Catalogue Number
df_2017['Catalogue Number'] = ""

# Title
df_2017['Title'] = ""

# Advertiser
df_2017["Advertiser"] = ""

# product
df_2017["Product"] = ""

# Company
df_2017["Company"] = ""

# Country
df_2017["Country"] = ""

# Prize Description
df_2017["Prize Description"] = ""

# Prize code
df_2017["Prize code"] = ""

# Video Name
df_2017 = df_2017.rename(columns={"video_name": "Video Name"})

# Link to Asset
df_2017['Link to Asset'] = ""

######################################################################################
################################### Prominence #######################################
######################################################################################

# Character ID
df_2017 = df_2017.rename(columns={"char_id": "Character ID"})

######################################################################################
############################ Background Characteristics ##############################
######################################################################################

# Age
# df_2017['Age'] = df_2017.apply (lambda row: fix_age(row), axis=1)
df_2017 = df_2017.rename(columns={"age": "Age"})
df_2017["Age"].fillna(10, inplace=True)

# Character Gender
df_2017 = df_2017.rename(columns={"gender": "Character Gender"})
df_2017["Character Gender"].fillna(10, inplace=True)

# Race
df_2017 = df_2017.rename(columns={"raceethnicity": "Race"})
df_2017["Race"].fillna(10, inplace=True)

######################################################################################
##################### Activity, Technology, Use & Setting ############################
######################################################################################

# Activity
df_2017 = df_2017.rename(columns={"activity": "Activity"})

# Tech
df_2017 = df_2017.rename(columns={"tech": "Tech"})

# Setting
df_2017 = df_2017.rename(columns={"setting": "Setting"})

# Vehicle
df_2017 = df_2017.rename(columns={"vehicle": "Vehicle"})

# Location
df_2017 = df_2017.rename(columns={"location": "Location"})

######################################################################################
################################### Sexualization ####################################
######################################################################################

# Sexually Revealing Clothing
df_2017 = df_2017.rename(columns={"sexuallyrevealingclothing": "Sexually Revealing Clothing"})
df_2017["Sexually Revealing Clothing"].fillna(10, inplace=True)

# State of Nudity
df_2017 = df_2017.rename(columns={"nudity": "State of Nudity"})
df_2017["State of Nudity"].fillna(10, inplace=True)

# Shown as Body Part
df_2017 = df_2017.rename(columns={"shownasbodyparts": "Shown as Body Part"})
df_2017["Shown as Body Part"].fillna(10, inplace=True)

# Verbally Sexual Objectification
df_2017 = df_2017.rename(columns={"verballysexuallyobjectified": "Verbally Sexual Objectification"})
df_2017["Verbally Sexual Objectification"].fillna(10, inplace=True)


######################################################################################
######################################## Traits ######################################
######################################################################################

# TODO: Ask what '4' option is about?
# Intelligence
df_2017 = df_2017.rename(columns={"shownasintelligent": "Intelligence"})
df_2017["Intelligence"].fillna(10, inplace=True)

# TODO: Ask what options "12", "23", "1.2" are about?
# Funny
df_2017 = df_2017.rename(columns={"shownasfunny": "Funny"})
df_2017["Funny"].fillna(10, inplace=True)

######################################################################################
################################ Work and Leadership #################################
######################################################################################

# Occupation Shown
df_2017 = df_2017.rename(columns={"occupationshown": "Occupation Shown"})
df_2017["Occupation Shown"].fillna(10, inplace=True)

# Occupation
df_2017 = df_2017.rename(columns={"occupation": "Occupation"})

# Leader
df_2017 = df_2017.rename(columns={"leader": "Leader"})
df_2017["Leader"].fillna(10, inplace=True)

# All other variables belong to other excel sheets
df_2017["file_name"] = ""

In [94]:
cols = ['Code Name', 'Year', 'Category', 'Catalogue Number', 'Title', 'Advertiser', 'Product',
       'Company', 'Country', 'Prize Description', 'Prize code','Video Name','Link to Asset',
        'ID','Character ID','Age','Character Gender','Race','Activity','Tech','Setting','Vehicle','Location',
        'Sexually Revealing Clothing', 'State of Nudity', 'Shown as Body Part','Verbally Sexual Objectification',
        'Intelligence', 'Funny', 'Occupation Shown', 'Occupation', 'Leader','view_video','vatic_link','file_name', 'char_montage']

In [95]:
df_2017 = df_2017[cols]
df_2017.head()

,Code Name,Year,Category,Catalogue Number,Title,Advertiser,Product,Company,Country,Prize Description,...,Verbally Sexual Objectification,Intelligence,Funny,Occupation Shown,Occupation,Leader,view_video,vatic_link,file_name,char_montage
0,,2017.0,,,,,,,,,...,0.0,0.0,2.0,1.0,3.0,0.0,/home/mica/jwt_data/1200_videos_seed343/797600...,http://mintyfresh.usc.edu?id=6438&hitId=offline,,NaN
1,,2017.0,,,,,,,,,...,0.0,0.0,2.0,1.0,3.0,0.0,/home/mica/jwt_data/1200_videos_seed343/797600...,http://mintyfresh.usc.edu?id=6438&hitId=offline,,NaN
2,,2017.0,,,,,,,,,...,0.0,0.0,0.0,1.0,2.0,1.0,/home/mica/jwt_data/1200_videos_seed343/797026...,http://mintyfresh.usc.edu?id=6416&hitId=offline,,NaN
3,,2017.0,,,,,,,,,...,0.0,3.0,0.0,1.0,3.0,0.0,/home/mica/jwt_data/1200_videos_seed343/798212...,http://mintyfresh.usc.edu?id=6439&hitId=offline,,NaN
4,,2017.0,,,,,,,,,...,0.0,3.0,0.0,1.0,3.0,0.0,/home/mica/jwt_data/1200_videos_seed343/798212...,http://mintyfresh.usc.edu?id=6439&hitId=offline,,NaN

In [96]:
df_2006_2016 = df_2006_2016[cols]
df_2006_2016.head()

,Code Name,Year,Category,Catalogue Number,Title,Advertiser,Product,Company,Country,Prize Description,...,Verbally Sexual Objectification,Intelligence,Funny,Occupation Shown,Occupation,Leader,view_video,vatic_link,file_name,char_montage
0,,2008.0,A21,A21/057,METAL SHOP,PACIFIC BLUE CROSS,HEALTH INSURANCE,DDB CANADA VANCOUVER,CANADA,Bronze Lion Campaign,...,0.0,1.0,0.0,1.0,3.0,0.0,,,2008_Film_A21_057_METAL SHOP_186.mp4,
1,,2008.0,A21,A21/057,METAL SHOP,PACIFIC BLUE CROSS,HEALTH INSURANCE,DDB CANADA VANCOUVER,CANADA,Bronze Lion Campaign,...,0.0,1.0,0.0,1.0,3.0,0.0,,,2008_Film_A21_057_METAL SHOP_186.mp4,
2,,2008.0,A25,A25/011,NAIL,WORKERS' COMPENSATION BOARD OF NOVA SCOTIA,WORKPLACE SAFETY AWARENESS,EXTREME GROUP Halifax,CANADA,Bronze Lion,...,0.0,0.0,0.0,1.0,3.0,0.0,,,2008_Film_A25_011_NAIL_229.mp4,
3,,2008.0,A25,A25/005,SMASH & GRAB,VANCOUVER POLICE DEPARTMENT,THEFT AWARENESS/PREVENTION,RETHINK Vancouver,CANADA,NaN,...,0.0,0.0,0.0,1.0,7.0,0.0,,,2008_Film_A25_005_SMASH & GRAB_268.mp4,
4,,2008.0,A15,A15/013,STACKS,APPLE,iPOD NANO,TBWA\MEDIA ARTS LAB Los Angeles,USA,NaN,...,0.0,0.0,0.0,1.0,2.0,1.0,,,2008_Film_A15_013_STACKS_270.mp4,

In [97]:
df = pd.concat([df_2006_2016, df_2017], ignore_index=True)

In [98]:
df.to_csv("Merged_Preprocessed_2006-2017.csv", encoding='utf-8', index=False)